body {
    background: #ffffff url(./images/bg.JPG) no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #727272;
}

a:hover {
    text-decoration: none;
    color: #ffa43c;
}


.navbar {
    background-color: #ffffffcc;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    
    
}

#navbar__logo {
    height: 70px;
    position: relative;
    margin: 15px;
    opacity: .8;
}

.navbar__menu {
    opacity: 1.2;
    display: flex;
    position: relative;
    list-style: none;
    justify-content: flex-end;
    width: 60%;
    float: right;
   
    
}

.navbar__item {
    margin: 20px 20px 20px 20px;
    position: relative;
    top: 50%;
    font-family: sans-serif;
}

#btn {
    margin-right: 50px;
    background-color: #ffc23e;
    border-radius: 10px;
    padding: 12px 15px;
    position: relative;
    transform: translateY(-12px);
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

.p2 {
    color: #ffffff;
}

.intro__container {
    position: relative;
    top: 200px;
    max-width: 600px;
}

.content__container {
    display: flex;
    position: absolute;
    top: 450px;
    width: 100%;
    background-color: #f3f3f3;
    transform: translateX(-8px);
    height: 50%;

}

.firstblock {
    position: relative;
    left: 1.5rem;
    color: #474747;
    width: 300px;
    margin: 25px;
}

.secondblock {
    position: relative;
    left: 1.5rem;
    color: #474747;
    width: 300px;
    margin: 25px;
}

#car {
    width: 300px;
    height: 250px;
    margin: 0
    px 25px;
}

.footer__container {
    position: absolute;
    width: 100%;
    color: #474747;
    background-color: #ffffff;
    bottom: 0%;
    
    
}