body {
    background: #ffffff url(./images/bg2.png) no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #727272;
}

a:hover {
    text-decoration: none;
    color: #ffa43c;
}


.navbar {
    background-color: #ffffffcc;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    
    
}

#navbar__logo {
    height: 70px;
    position: relative;
    margin: 15px;
    opacity: .8;
    left:1.5rem;
}

.navbar__menu {
    opacity: 1.2;
    display: flex;
    position: relative;
    list-style: none;
    justify-content: flex-end;
    width: 60%;
    min-width: 400px;
    float: right;
   
    
}

.navbar__item {
    margin: 20px 20px 20px 20px;
    position: relative;
    top: 50%;
    font-family: sans-serif;
}

#btn {
    margin-right: 50px;
    background-color: #ffc23e;
    border-radius: 10px;
    padding: 12px 15px;
    position: relative;
    transform: translateY(-12px);
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

.p2 {
    color: #ffffff;
}

.intro__container {
    position: relative;
    top: 200px;
    max-width: 500px;
    left:1.5rem;
    margin: 20px;
}

.content__container {
    display: flex;
    position: absolute;
    top: 450px;
    width: 100%;
    background-color: #f3f3f3;
    transform: translateX(-8px);
    height: 50%;
    min-width: 1000px;
}

.firstblock {
    position: relative;
    left: 1.5rem;
    color: #474747;
    width: 300px;
    padding: 25px;
}

.secondblock {
    position: relative;
    left: 1.5rem;
    color: #474747;
    width: 300px;
    padding: 25px;
    background-color: #e6e6e6;
}

#car {
    position: relative;
    width: 250px;
    height: 200px;
    padding: 0px;
}

.footer__container {
    position: absolute;
    left: 0%;
    width: 100%;
    background-color: #ffffff;
    bottom: 0%;
}

.footer__text {
    position: relative;
    color: #47474755;
    font-size: smaller;
    left: 50%;
}

.entryfield__container {
    position: absolute;
    background-color: #e7e7e788;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    line-height: 2;
    width: 300px;
    justify-content: space-around;
    left: 600px;
}

input[type=text], .pass__select /*, select */{
    position: relative;
    margin-left: 50px;
    border-radius: 5px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #ffd0007c;
    padding: 5px;
    float: right;
}

.pass__select select {
    display: none;
}

